.header-frames-container {
  display: flex;
  flex: 1;
  color: white;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
  border-right: solid 1px grey;

  > div, > svg {
    margin-right: 10px;
  }
}