@import "../../../../../sass/variable";

.header-frames-container {
  display: flex;
  background-color: $bgBlackColor;
  position: relative;
  z-index: 10;
  flex: 1;
  min-width: 0;
  color: white;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
  border-right: solid 1px grey;

  > div, > svg {
    margin-right: 10px;
  }
}