.fpscounter-container {
  .fps-input {
    background-color: transparent;
    border: none;
    border-bottom: solid 1px gray;
    color: gray;
    font-size: 16px;
    outline: none;
    transition: border-color .3s ease-in-out;
    width: 32px;
  }

  .fps-text {
    font-size: 12px;
    margin-right: 5px;
  }
}