$bgPrimaryColor: #102831;
$bgSecondaryColor: #215263;
$accentColor: #183C4A;

$bgLightenPrimaryColor: #4BBAE3;
$bgLighterPrimaryColor: #3686A6;

$primaryCursorColor: #b16225;
$secondaryCursorColor: #c6843e;
$ternaryCursorColor: #e69947;
$quaternaryCursorColor: #ffb566;