@import "../../../sass/variable";

.scrollbar-container {
  display: flex;
  position: relative;
  background: $bgPrimaryColor;
  border-top: solid 1px $bgSecondaryColor;
  height: 16px;
  z-index: 5;

  .scrollbar-layer {
    flex: 1;
    min-width: 0;
    padding-right: 12px;
    border-right: solid 1px $bgSecondaryColor;
  }

  .scrollbar-frame {
    position: relative;
    flex: 6;
    min-width: 0;
    box-sizing: border-box;

    .thumb-container {
      position: absolute;
      background: $bgSecondaryColor;
      border-radius: 5px;
      width: 16px;
      height: 16px;
    }
  }
}