.framecounter-container {
  .frame-input {
    margin-left: 10px;
    background-color: transparent;
    border: none;
    text-align: center;
    color: gray;
    font-size: 16px;
    outline: none;
    transition: border-color .3s ease-in-out;
    width: 48px;
    cursor: default;
  }

  .frame-text {
    font-size: 12px;
    margin-right: 5px;
  }
}