.header-container {
  display: flex;
  box-sizing: border-box;
  background: #333333;
  height: 64px;
  align-items: center;

  .toolbar-container {
    display: flex;
    flex: 1;
    align-items: center;
  }
}