@import "../../../../../sass/variable";

.layers-header-container {
  position: relative;
  display: flex;
  flex: 6;
  margin-left: -1px;
  min-width: 0;

  .onion {
    background: $accentColor;
  }

  .line {
    min-width: 1px;
    margin-right: 10px;
    height: 12px;
    background: $bgSecondaryColor;
    cursor: pointer;

    &.second {
      height: 18px;
    }
  }

  .timespan {
    position: absolute;
    color: darkgray;
    font-weight: 500;
    top: 16px;
    margin-left: -6px;
    font-size: 11px;
  }
}