@import "../../../../../../sass/variable";

.color-input-container {
  display: flex;
  justify-content: center;
  width: 100%;

  .color-selected-input {
    flex: 0.8;
    height: 32px;
    border: solid 1px transparent;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      border-color: gray;
    }
  }

  .color-modal-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $bgLighterPrimaryColor;
    border: solid 1px $bgPrimaryColor;
    border-radius: 10px;
    margin-left: -37vw;
    z-index: 20;
    width: 200px;
    height: 250px;
    box-shadow: 0 0 10px #333;

    .header-color-modal-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      padding: 0 15px;

      & .title-color-modal-container {
        font-size: 14px;
        margin: 5px 0;
      }

      & svg {
        cursor: pointer;
      }
    }

    .hue-slider-container {
      position: relative;
      width: 180px;
      margin: 5px 0;
      height: 12px;
      border-radius: 15px;
      border: solid 1px black;

      .picker-pointer-hue {
        position: absolute;
        height: 12px;
        width: 12px;
        box-sizing: border-box;
        border: solid 2px lightgray;
        border-radius: 50%;
      }
    }

    .chroma-container {
      position: relative;
      width: 180px;
      height: 180px;
      border: solid 1px black;
      border-radius: 15px;

      .picker-pointer-chroma {
        position: absolute;
        height: 12px;
        width: 12px;
        box-sizing: border-box;
        border: solid 2px lightgray;
        border-radius: 50%;
      }
    }
  }

}