@import "../../../sass/variable";

.actionbar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 36px;
  border-bottom: solid 1px $bgSecondaryColor;

  .actionbar-section {
    display: flex;

    &.absolute {
      position: absolute;
      right: 0;
    }
  }
}